.news{
    .bankruptcy{
        display: block;
    }
    .article{
        &__item{
            display: none;
            &.active{
                display: flex;
            }
        }
    }
}

.articles{
    .bankruptcy-theme{
        display: block;
    }
    .tabs-faq {
        margin-bottom: 64px;
            &__container {
            }
        
            &__body {
            }
        }
        .tabs {
            display: flex;
            @include adaptiveValue("gap", 130 , 10, 992, 768, 1 );
            gap: 130px;
            @media (max-width:768px) {
                flex-direction: column;
            }
        
            &__content{
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        
            &__navigation-body {
                flex: 0 0 auto;
            }
        
            &__navigation-title {
                font-weight: 800;
                font-size: 24px;
                line-height: 32px;
                font-family: Manrope;
                margin-bottom: 16px;
                @media (max-width:768px) {
                    margin-bottom: 12px;
                }
            }
        
            &__navigation {
                max-width: 273px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 24px;
                @media (max-width:768px) {
                    max-width: 100%;
                    @include adaptiveValue("gap", 20 , 12, 576, 320, 1 );
                    margin-bottom: 23px;
                }
            }
        
            &__header{
                max-width: 605px;
                width: 100%;
            }
        
            &__title {
                font-weight: 500;
                text-align: start;
                &._tab-active{
                    font-weight: 700;
                    color: #1565D8;
                }
            }
        
            &__content {
                max-width: 605px;
                width: 100%;
                @media (max-width:768px) {
                    max-width: 100%;
                }
            }
        
            &__body {
            }
        
            &__author {
                display: flex;
                margin-bottom: 12px;
                font-size: 16px;
                gap: 16px;
            }
        
            &__title-content{
                font-weight: 800;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 12px;
                font-family: Manrope;
            }
        
            &__author-title-main {
                display: flex;
                font-weight: 600;
                @media (max-width:768px) {
                    font-size: 14px;
                }
                p{
                    margin-right: 4px;
                }
                a{
                    font-weight: 600;
                    color: #1565D8;
                }
            }
        
            &__author-date {
                flex: 0 0 auto;
                opacity: 0.5;
                @media (max-width:768px) {
                    font-size: 14px;
                }
            }
        
            &__title-main{
                font-family: 'Manrope';
                font-weight: 800;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 12px;
            }
        
            &__views {
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;
                font-size: 16px;
                opacity: 0.5;
            }
        
            &__views-reading {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 32px;
                @media (max-width:768px) {
                    font-size: 12px;
                }
                &::before{
                    content:"";
                    position: absolute;
                    left: 0;
                    height: 24px;
                    width: 24px;
                    background-image: url('@img/icon/time.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        
            &__views-total {
                @media (max-width:768px) {
                    font-size: 12px;
                }
            }
        
            &__text {
                font-size: 16px;
                margin-bottom: 20px;
            }
        
            &__list-mark{
                margin-bottom: 20px;
            }

            &__list-title{
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 16px;
            }

            &__download-file {
                padding: 19px;
                display: flex;
                align-items: center;
                gap: 8px;
                background: #F4F9FF;
                border-radius: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 12px;
                padding-left: 51px;
                position: relative;
                @media (max-width:576px) {
                    padding: 12px 12px 12px 46px;
                }
                &::before{
                    content:"";
                    position: absolute;
                    left: 12px;
                    height: 24px;
                    width: 24px;
                    background-image: url('@img/icon/download.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 0.5;
                }
            }
        
            &__download-file-format{
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                border: 1px solid #000000;
                border-radius: 8px;
                padding: 2px 4px;
            }
        
            &__download-file-size{
                opacity: 0.5;
                flex: 0 0 auto;
            }
        
            &__sub-links {
                padding: 19px;
                background: #F4F9FF;
                border-radius: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                @media (max-width:576px) {
                    padding: 7px 7px 7px 16px;
                    @include adaptiveValue("padding-right",19 , 64, 576, 320, 1 );
                }
                a{
                    color: #1565D8;
                }
                &::after{
                    content:"";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 4px;
                    background: #1565D8;
                }
            }
        
            &__btn {
                background: #1565D8;
                border-radius: 8px;
                font-family: 'Manrope';
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                padding: 8px 150px;
                margin-bottom: 24px;
                @media (max-width:992px) {
                    padding: 8px 50px;
                }
                @media (max-width:768px) {
                    padding: 8px calc(43px + (200 - 43) * ((100vw - 320px) / (768 - 320)));
                }
            }
        
            &__rate {
                display: flex;
                align-items: center;
                gap: 9px;
                margin-bottom: 24px;
                @media (max-width:440px) {
                    flex-wrap: wrap;
                    gap: 24px 9px;
                }
            }
        
            &__rate-like {
                position: relative;
                height: 24px;
                width: 24px;
                &::before{
                    content:"";
                    position: absolute;
                    left: 0px;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url('@img/icon/like.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        
            &__rate-dislike {
                position: relative;
                height: 24px;
                width: 24px;
                &::before{
                    content:"";
                    position: absolute;
                    left: 0px;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url('@img/icon/dislike.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        
            &__rate-total {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                opacity: 0.5;
                @media (max-width:440px) {
                    flex: 0 0 100%;
                }
            }
        
            &__social {
                display: flex;
                gap: 14px;
            }
        
            &__social-title {
            }
        
            &__social-body {
                display: flex;
                gap: 4px;
            }
        
            &__social-img {
                height: 24px;
                width: 24px;
                border-radius: 2px;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        
        
}

.articles-bankruptcy {
    @include adaptiveValue("margin-bottom", 80 , 35, 992, 768, 1 );

    &.bankruptcy-theme{
        position: relative;
        padding: 80px 0;
        background: #F4F9FF;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 80px;
            left: -55%;
            background-image: url(../img/decor/02.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 1185px;
            height: 1315px;
            z-index: 5;
            @media (max-width:992px) {
                display: none;
            }
        }
    }

    &__container {
    }

    &__body {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 5;
    }

    &__title {
    }

    &__text {
        @include adaptiveValue("font-size",18 , 16, 992, 768, 1 );
        font-family: 'Manrope';
        max-width: 980px;
        margin: 0 auto;
        background: #F4F9FF;
        border-radius: 16px;
        padding: 24px;
        @include adaptiveValue("margin-bottom",64 , 30, 992, 768, 1 );
        text-align: center;
        line-height: 24px;
        @media (max-width:768px) {
            padding: 15px 12px;
        }
    }

    &__content {
    }

    &__show-more{
        display: block;
        width: 100%;
        padding: 11px;
        border: 1px solid #1565D8;
    }

    &__show-all-article{
        align-self: center;
        background: #1565D8;
        border-radius: 8px;
        display: inline-flex;
    }
    &__button-wrapper{
        display: flex;
        justify-content: center;
    }

}
.title {
    max-width: 960px;
}
.article {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 30 , 12, 1024, 992, 1 );
    @include adaptiveValue("margin-bottom", 32 , 12, 992, 768, 1 );
    &__item {
        &-link {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 100%;
        }
        flex: 1 1 30%;
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 4%);
        border-radius: 8px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptiveValue("column-gap", 26 , 10, 1024, 992, 1 );
        @media (max-width:992px) {
            flex-basis: 45%;
        }
        @media (max-width:576px) {
            flex-basis: 100%;
        }
    }

    &__info {
        flex: 1 1 30%;
        padding-right: 5px;
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        font-family: 'Manrope';
        margin-bottom: 8px;
        line-height: 24px;
        @media (max-width:768px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__text {
        font-size: 12px;
        color: #183B56;
        opacity: 0.6;
        line-height: 16px;
    }

    &__img {
        @include adaptiveValue("width", 133 , 112, 1024, 992, 1 );
        height: 132px;
        border-radius: 8px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__info-item {
        flex: 0 0 100%;
        display: flex;
        align-items: flex-end;
        margin-top: 8px;
        font-size: 12px;
    }

    &__name {
        margin-right: 8px;
        color: #1565D8;
    }

    &__date {
        opacity: 0.4;
    }

    &__views {
        display: flex;
        gap: 4px;
        margin-left: auto;
        opacity: 0.4;
    }

    &__views-img {
        height: 14px;
        width: 14px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__views-text {
    }
}
