// Заголовки, общие БЄМ блоки и проче...
a{
    font-family: 'Manrope';
    font-weight: 500;
}
.hidden{
    display: none;
}
button{
    font-family: 'Manrope';
    font-weight: 700;
    border-radius: 8px;
}
.button-blue{
    padding: 15px 55px;
    background: #1565D8;
    color: #fff;
    @media (max-width:576px) {
        padding: 5px 55px;
    }
}
.button-white{
    padding: 14px 24px;
    background: #FFFFFF;
    font-weight: 700;
}
.button-next{
    padding: 14px 50px 14px 24px;
    position: relative;
    color: #1565D8;
    @media (max-width:440px) {
        padding: 10px 32px 10px 10px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow_button.svg');
        @media (max-width:440px) {
            right: 14px;
        }
    }
}
.button-next-white{
    padding: 14px 50px 14px 24px;
    position: relative;
    color: #fff;
    @media (max-width:440px) {
        padding: 10px 32px 10px 10px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow-white.svg');
        @media (max-width:440px) {
            right: 14px;
        }
    }
}
.button-back{
    padding: 14px 24px 14px 50px;
    position: relative;
    color: #1565D8;
    @media (max-width:440px) {
        padding: 10px 32px 10px 10px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow-prev-green.svg');
        @media (max-width:440px) {
            right: 14px;
        }
    }
}
.logo{
    @include adaptiveValue("width",277 ,103, 992, 768, 1 );
    @include adaptiveValue("height",54 ,20, 992, 768, 1 );
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.border-style{
    display: block;
    background: #36B37E;
    border-radius: 16px;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    @include adaptiveValue("font-size", 36 , 32, 1200, 991, 1 );
        @include adaptiveValue("font-size", 32 , 24, 991, 768, 1 );


}
.border-style-white{
    font-weight: 600;
    margin-bottom: 12px;
    @include adaptiveValue("font-size", 36 , 32, 1200, 991, 1 );

    h2{
        display: block;
        font-family: Manrope;
        span{
            display: inline-block;
            background: #fff;
            color: #1565D8;
            border-radius: 8px;
            padding: 4px 10px;
        }
    }
}
.advantages-list{
    &__item{
        position: relative;
        padding-left: 40px;
        &:not(:last-child){
            margin-bottom: 16px;
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-image: url('@img/icon/complite.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-weight: 600;

        @include adaptiveValue("gap",22 ,20, 1200, 991, 1 );
    }

}
.title{
    font-family: 'Manrope';
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    @include adaptiveValue("font-size", 48 , 32, 1200, 991, 1 );
    @include adaptiveValue("margin-bottom",64 ,15, 992, 768, 1 );

}
.form {
    width: 360px;
    flex: 0 0 auto;
    padding: 30px 24px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgb(21 37 72 / 10%);
    border-radius: 8px;
    height: max-content;
    @media (max-width:768px) {
        padding: 24px 12px;
        width: 100%;
    }
    &__title {
        @include adaptiveValue("font-size",24 ,20, 992, 768, 1 );
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 14px;
        font-weight: 600;
        opacity: 0.6;
        margin-bottom: 16px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        label{
            font-family: 'Manrope';
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        input{
            background: #FFFFFF;
            border: 1px solid #C3CAD9;
            border-radius: 4px;
            padding: 13px 15px;
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
    }

    &__check {
        display: flex;
        font-size: 14px;
        margin-bottom: 16px;
        input{
            flex: 0 0 auto;
            margin-right: 14px;
            width: 18px;
            height: 18px;
        }
        a{
            text-decoration: underline;
        }
    }

    &__submit {
        padding: 16px 38px;
        background: #1565D8;
        border-radius: 8px;
        color: #FFFFFF;
        font-weight: 700;
        @media (max-width:768px) {
            width: 100%;
        }
        @media (max-width:576px) {
            padding: 5px 38px;
        }
    }
}