// Заголовки, общие БЄМ блоки и проче...
.page {
    @media (max-width:1024px) {
        padding-top: 80px;
    }
}

a{
    font-family: 'Manrope';
    font-weight: 500;
}
.hidden{
    display: none;
}
button{
    font-family: 'Manrope';
    font-weight: 700;
    border-radius: 8px;
}
.button-blue{
    padding: 15px 55px;
    background: #1565D8;
    color: #fff;
    font-size: 18px;
    @media (max-width:576px) {
        padding: 12px;
        width: 100%;
    }
}
.button-white{
    padding: 14px 24px;
    background: #FFFFFF;
    font-weight: 700;
}
.button-next{
    padding: 14px 50px 14px 24px;
    position: relative;
    color: #1565D8;
    @media (max-width:440px) {
        padding: 10px 32px 10px 10px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow_button.svg');
        @media (max-width:440px) {
            right: 14px;
        }
    }
}
.button-next-white{
    padding: 14px 50px 14px 24px;
    position: relative;
    color: #fff;
    @media (max-width:440px) {
        padding: 10px 32px 10px 10px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow-white.svg');
        @media (max-width:440px) {
            right: 14px;
        }
    }
}
.button-back{
    padding: 14px 24px 14px 50px;
    position: relative;
    color: #36B37E;
    display: inline-block;
    @media (max-width:440px) {
        padding: 10px 10px 10px 32px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow-prev-green.svg');
        @media (max-width:440px) {
            left: 14px;
        }
    }
}
.button-back-white{
    padding: 12px 24px 12px 50px;
    position: relative;
    color: #fff;
    display: inline-block;
    @media (max-width:440px) {
        padding: 10px 10px 10px 32px;
    }
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateY(-50%) scale(-1, 1);
        height: 12px;
        width: 12px;
        background-image: url('@img/icon/arrow-white.svg');
        @media (max-width:440px) {
            left: 14px;
        }
    }
}
.logo{
    position: relative;
    z-index: 50;
    @include adaptiveValue("width",277 ,160, 1024, 768, 1 );
    @include adaptiveValue("height",54 ,30, 1024, 768, 1 );
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.border-style{
    display: block;
    background: #36B37E;
    border-radius: 16px;
    color: #fff;
    padding: 10px;
    font-weight: 600;

}

.medium-title{
    @include adaptiveValue("font-size", 36 , 32, 1200, 991, 1 );
    @media (max-width:992px) {
        @include adaptiveValue("font-size", 32 , 24, 991, 768, 1 );
    }
}

.border-style-white{
    font-weight: 600;
    margin-bottom: 12px;
    @include adaptiveValue("font-size", 36 , 32, 1200, 991, 1 );
    @media (max-width:992px) {
        @include adaptiveValue("font-size", 32 , 24, 992, 320, 1 );
    }
    h2{
        display: block;
        font-family: Manrope;
        span{
            display: inline-block;
            background: #fff;
            color: #1565D8;
            border-radius: 8px;
            padding: 4px 10px;
        }
    }
}
.advantages-list{
    &__item{
        position: relative;
        padding-left: 40px;
        @include adaptiveValue("padding-left",40 ,26, 768, 320, 1 );
        &:not(:last-child){
            margin-bottom: 16px;
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-image: url('@img/icon/complite.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 22px;
        @include adaptiveValue("font-size",22 ,20, 1200, 991, 1 );
    }

}
.title{
    font-family: 'Manrope';
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    @include adaptiveValue("font-size", 48 , 32, 1200, 991, 1 );
    @include adaptiveValue("margin-bottom",64 ,15, 992, 768, 1 );
    @media (max-width:992px) {
        @include adaptiveValue("font-size", 32 , 24, 992, 320, 1 );
    }
}
.link-hover{
    position: relative;
    padding-bottom: 3px;
    transition: all .5s ease;
    &::before{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #1565D8;
        transition: all .5s ease;
    }
    &:hover{
        color: #1565D8;
        &::before{
            width: 100%;
        }
    }
}

.spollers{
    &__title{
        position: relative;
        width: 100%;
        text-align: start;
        &._spoller-active{
            &::before{
                transform: translateY(-50%) scale(0);
            }
        }

        &::before,
            &::after{
                content:"";
                position: absolute;
                background: #1565D8;
            }
            &::before{
                top: 50%;
                right: 0;
                height: 12px;
                width: 3px;
            transform: translateY(-50%) scale(1);

                transition: all .5s ease;
            }
            &::after{
                right: -4px;
                top: 50%;
                transform: translateY(-50%);
                height: 3px;
                width: 12px;
            }
    }
}