//====================================================================================================
.footer {
    padding: 24px 0;
    background: #F4F9FF;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-block {
        width: 270px;
        margin-right: 76px;
    }

    &__logo {
        margin-bottom: 22px;
    }

    &__text {
        font-size: 14px;
        opacity: 0.6;
        padding-right: 45px;
    }

    &__list {
        font-size: 16px;
        margin-right: 56px;
    }

    &__list-item {
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }

    &__link {
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        text-align: end;
        font-family: "Manrope";
        a{
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__tel {
        margin-bottom: 4px;
    }

    &__mail {
        padding: 16px 0 24px;
    }

    &__button {
        font-family: "Manrope";
        font-size: 18px;
        padding: 8px 10px;
        background: #1565D8;
        border-radius: 8px;
        color: #fff;
    }

}

//====================================================================================================
