//====================================================================================================
.footer {
    padding: 24px 0;
    background: #F4F9FF;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
    }

    &__logo-block {
        flex: 0 0 auto;
        width: 270px;
        @include adaptiveValue("margin-right", 76 , 0, 1200, 991, 1 );
    }

    &__logo {
        margin-bottom: 22px;
    }

    &__text {
        font-size: 14px;
        opacity: 0.6;
        padding-right: 45px;
    }

    &__list {
        font-size: 16px;
        margin-right: 56px;
        @include adaptiveValue("margin-right", 56 , 20, 1200, 991, 1 );
        @media (max-width:1024px) {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
    }

    &__list-item {
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }

    &__link {
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        text-align: end;
        font-family: "Manrope";
        @media (max-width:767px) {
            text-align: start;
            width: 100%;
        }
        a{
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__tel {
        margin-bottom: 4px;
    }

    &__mail {
        padding: 16px 0 24px;
    }

    &__button {
        font-family: "Manrope";
        font-size: 18px;
        padding: 8px 10px;
        background: #1565D8;
        border-radius: 8px;
        color: #fff;
    }

}

//====================================================================================================
