//====================================================================================================
.header {

	&__container {
	}

	&__body {
	}

	&__top {
		display: flex;
    	align-items: center;
		justify-content: space-between;
		padding: 23px 0;
		@media (max-width:992px) {
			display: none;
		}
	}

	&__location {
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child){
			margin-right: 24px;
		}
	}

	&__list-link {
	}

	&__middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		padding: 24px 0 16px;
	}

	&__logo {
		margin-right: auto;
	}

	&__watsapp {
		width: 255px;
		margin-right: 38px;
	}

	&__phone {
	}

	&__info {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #c3cad947;
		border-bottom: 1px solid #c3cad947;
		@media (max-width:992px) {
			display: none;
		}
	}

	&__info-link {
		display: inline-flex;
		padding: 16px 0;
	}

	&__link {
		padding: 25px 0 40px;
		font-weight: 700;
		@media (max-width:992px) {
			display: none;
		}
	}

	&__link-item {
		margin-right: 60px;
		padding-right: 20px;
		color: #1565D8;
		font-weight: 700;
		position: relative;
		&::before{
			content:"";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: rem(16);
			width: rem(8);
			background-image: url('@img/icon/arrow-blue.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}

	&__info-item{
		position: relative;
		&:hover{
			.header__list-deep{
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__list-deep{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		z-index: 5;
		pointer-events: none;
	}

	&__phone-mobile{
		height: 26px;
		width: 26px;
		border: 2px solid #1565D8;
		display: none;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 16px;
		@media (max-width:992px) {
			display: flex;
		}
	}
	&__burger{
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 24px;
		@media (max-width:992px) {
			display: flex;
		}
		div{
			width: 100%;
			height: 3px;
			background: #183B56;
			border-radius: 1px;
		}
		&::before,
		&::after{
			content:"";
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background: #183B56;
			border-radius: 1px;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
	}
}

.list-deep{
	padding: 12px;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	&__item{
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}
	&__link{
		padding: 5px 0;
		opacity: 0.5;
		transition: opacity .5s ease;
		&:hover{
			opacity: 1;
			font-weight: 700;
		}
	}
}

.location {
	font-family: "Manrope";
	&__city {
		display: flex;
		align-items: center;
	}

	&__img {
		margin-right: 8px;
	}

	&__text {
	}
}
.logo {

	&__img {
	}
}
.social-info {
    display: flex;
	align-items: center;
	@media (max-width:992px) {
		display: none;
	}
	&__img {
		margin-right: 8px;
		height: 32px;
		width: 32px;
		flex: 0 0 auto;
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&__link {
		display: flex;
    	flex-direction: column;
	}
}
.info {

	&__info-item {
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
