//====================================================================================================
.header {
	@media (max-width:1024px) {
		position: fixed;
		top: 0;
		left: 0;
		background: #ffff;
		width: 100%;
		z-index: 5000;
		border: 1px solid #C3CAD9;
    }
	&__container {
	}

	&__body {
	}

	&__top {
		display: flex;
    	align-items: center;
		justify-content: space-between;
		padding: 23px 0;
		position: relative;
		font-size: 16px;
		&::before{
			content:"";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50vw);
			width: 100vw;
			height: 100%;
			background: #F4F9FF;
			z-index: -1;
		}
		@media (max-width:1024px) {
			display: none;
		}
	}

	&__location {
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child){
			@include adaptiveValue("margin-right", 24 , 10, 1200, 1024, 1 );
		}
	}

	&__list-link {
		
	}

	&__middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		padding: 24px 0 16px;
		@media (max-width:1024px) {
			padding: 15px 0;
		}
	}

	&__logo {
		margin-right: auto;
	}

	&__watsapp {
		width: 255px;
		margin-right: 38px;
	}

	&__phone {
	}

	&__info {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #c3cad947;
		border-bottom: 1px solid #c3cad947;
		.link-hover{
			&::before{
				bottom: 10px;
			}
		}
		@media (max-width:1024px) {
			display: none;
		}
	}

	&__info-link {
		display: inline-flex;
		padding: 16px 0;
	}

	&__link {
		padding: 25px 0 40px;
		font-weight: 700;
		@media (max-width:1024px) {
			display: none;
		}
	}

	&__link-item {
		margin-right: 60px;
		padding-right: 20px;
		color: #1565D8;
		font-weight: 700;
		position: relative;
		cursor: pointer;
		&::before{
			content:"";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: rem(16);
			width: rem(8);
			background-image: url('@img/icon/arrow-blue.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}

	&__info-item{
		position: relative;
		&:hover{
			.header__list-deep{
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__list-deep{
		position: absolute;
		top: 100%;
		left: 0;
		width: 300px;
		opacity: 0;
		z-index: 10;
		pointer-events: none;
	}

	&__phone-mobile{
		height: 26px;
		width: 26px;
		border: 2px solid #1565D8;
		display: none;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 16px;
		position: relative;
		z-index: 50;
		@media (max-width:1024px) {
			display: flex;
		}
	}
	&__burger{
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 24px;
		@media (max-width:1024px) {
			display: flex;
		}
		div{
			width: 100%;
			height: 3px;
			background: #183B56;
			border-radius: 1px;
		}
		&::before,
		&::after{
			content:"";
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background: #183B56;
			border-radius: 1px;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
	}

	&__mobile{
		position: fixed;
		width: 100%;
		@include adaptiveValue("top", 75 , 60, 1024, 768, 1 );
		left: 0;
		background: #ffff;
		z-index: 15;
		&.active{
			.header__mobile-inner{
				height: 370px;
			}
		}
		.location{
			font-size: 18px;
		}
		.header__list{
			font-size: 18px;
			flex-direction: column;
			gap: 8px;
		}
		.social-info{
			display: flex;
			margin: 0;
		}
	}
	&__mobile-inner{
		height: 0px;
		overflow: hidden;
		transition: height .5s ease;
	}
	&__mobile-body{
		display: flex;
		flex-direction: column;
		gap: 18px;
		padding: 20px;
		background: #ffff;
	}
}

.list-deep{
	padding: 12px;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	&__item{
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}
	&__link{
		padding: 5px 0;
		opacity: 0.5;
		transition: opacity .5s ease;
		&:hover{
			opacity: 1;
			font-weight: 700;
		}
	}
}

.location {
	font-family: "Manrope";
	&__city {
		display: flex;
		align-items: center;
	}

	&__select-city{
		position: relative;
		display: flex;
		align-items: center;
		padding-right: 9px;
		span{
			margin-left:4px;
		}
		&.active{
			&::before{
				transform: rotate(-90deg);
			}
		}
		&::before{
			content:"";
			position: absolute;
			width:5px;
			height:9px;
			background-image: url('@img/icon/arrow-blue.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			right: 0;
			transform: rotate(90deg);
			transition: transform .5s ease;
		}
		span{
			margin-right: 5px;
			cursor: pointer;
		}
	}

	&__img {
		margin-right: 10px;
	}

	&__text {
		position: relative;
		@media (max-width:440px) {
			font-size: 16px;
		}
	}
}
.social-info {
    display: flex;
	align-items: center;
	@media (max-width:1024px) {
		display: none;
	}
	&__img {
		margin-right: 8px;
		height: 32px;
		width: 32px;
		flex: 0 0 auto;
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&__link {
		display: flex;
    	flex-direction: column;
	}
}

.form-city {
	position: absolute;
    top: 100%;
    left: 50%;
    width: 580px;
    height: 410px;
    z-index: 55;
	padding: 30px 40px 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 10%), 0px 2px 5px rgb(0 0 0 / 15%);
    border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	@media(max-width:1024px) {
		@include adaptiveValue("padding-top", 95 , 60, 1024, 768, 1 );
		padding: 30px 15px 40px;
	}
	&.full{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		.form-city__close-search{
			position: absolute;
			right: 20px;
			@include adaptiveValue("top", 26 , 15, 1024, 768, 1 );
			height: 30px;
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			&::before,
			&::after {
				content:"";
				position: absolute;
				width: 100%;
				height: 3px;
				background: #353B48;
			}
			&::before{
				transform: rotate(45deg);
			}
			&::after{
				transform: rotate(-45deg);
			}
		}
		.form-city__item {
			display: none;
			align-items: center;
			position: relative;
			flex: 0 0 auto;
			padding-right: 25px;
			@media(max-width:1024px) {
				flex: 0 0 25%;
			}
			@media(max-width:768px) {
				flex: 0 0 33%;
			}
			@media(max-width:480px) {
				flex: 0 0 100%;
			}
			&.active {
				color: #1565D8;
				&::after {
					content:"";
					display: block;
					height: 10px;
					width: 10px;
					margin-left: 10px;
					background-image: url('@img/icon/checked-city.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-repeat: no-repeat;
				}
				display: flex;
			}
		}
		.form-city__search-body{
			display: flex;
			input{
				width: 100%;
			}
		}
	}
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
	&__title {
		font-size: 16px;
		font-weight: 400;
		font-family: Manrope;
		margin-bottom: 8px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 0 25px;
		display: inline-flex;
		&::before,
		&::after{
			content:"";
			position: absolute;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&::before{
			background-image: url('@img/icon/geolocation.svg');
			height: 15px;
			width: 20px;
			left: 0;
		}
		&::after{
			background-image: url('@img/icon/arrow-blue.svg');
			right: 0;
			width: 15px;
			height: 10px;
			transform: rotate(90deg);
		}
	}

	&__content {
	}

	&__search-body {
		display: inline-flex;
		align-items: center;
		position: relative;
		&::before{
			content:"";
			position: absolute;
			height: 15px;
			width: 15px;
			top: 17px;
			right: 12px;
			background-image: url('@img/icon/search.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	&__search {
		padding: 10px;
		border: 1px solid #C3CAD9;
		border-radius: 3px;
		width: 280px;
		margin-bottom: 15px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		row-gap: 10px;
	}

	&__item {
		flex: 0 0 33.333%;
		&.active {
			color: #1565D8;
			&::after {
				content:"";
				display: block;
				height: 10px;
				width: 10px;
				margin-left: 10px;
				background-image: url('@img/icon/checked-city.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-repeat: no-repeat;
			}
			display: flex;
			align-items: center;
		}
	}

	&__link {
	}

	&__close-btn{
		display: none;
	}
	
}



//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
