//====================================================================================================
// ПЕРВЫЙ ЭКРАН
.first-block {
    margin-bottom: 40px;
    [class*="__container"]{
        @media (max-width:576px) {
            margin: 0 -15px;
        }
    }
    &__body {
        display: flex;
        padding: 32px 48px;
        background: #F4F9FF;
        border-radius: 16px;
        @include adaptiveValue("gap", 70 , 20, 1200, 991, 1 );
        @media (max-width:992px) {
            padding: 24px;
        }
        @media (max-width:767px) {
            flex-direction: column;
        }
        @media (max-width:576px) {
            padding: 15px;
        }
    }

    &__content {
    }

    &__title {
        font-family: Manrope;
        font-weight: 800;
        margin-bottom: 16px;
        @include adaptiveValue("font-size", 48 , 32, 1200, 991, 1 );
        @media (max-width:992px) {
            @include adaptiveValue("font-size", 32 , 24, 991, 768, 1 );
        }
    }

    &__sub-title {
        font-family: Manrope;
        font-weight: 700;
        font-size: 16px;
        @include adaptiveValue("margin-bottom", 40 , 24, 992, 320, 1 );

    }

    &__advantages-list {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("row-gap",22 , 10, 1200, 991, 1 );
        @include adaptiveValue("column-gap",38 , 10, 1200, 991, 1 );
        @media (max-width:767px) {
            flex-direction: column;
        }
        div{
            font-size: 16px;
        }
        li{
            flex: 1 1 33.333%;
            @media (max-width:992px) {
                flex-basis: 50%;
            }
        }
    }
    
    .border-style{
        margin-top: 8px;
    }
    .footer-form__form{
        display: none;
    }
    &__form{
        display: block;
    }
}
// ВТОРОЙ ЭКРАН
.two-block {
    background: #1565D8;
    color: #fff;
    @media (max-width:767px) {
        border-radius: 16px;
    }
    &__body {
        padding: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include adaptiveValue("padding-top",64 ,15, 991, 768, 1 );
        @include adaptiveValue("padding-bottom",64 ,40, 991, 768, 1 );
    }

    &__title {
        // font-size: 36px;
        margin-bottom: 16px;
    }

    &__subtitle {
        width: 654px;
        margin-bottom: 40px;
        @include adaptiveValue("margin-bottom",40 ,25, 991, 768, 1 );
        @include adaptiveValue("width",654 ,576, 991, 576, 1 );
        @media (max-width:576px) {
            width: 100%;
        }
    }

    &__steps {
    }

    &__dop-title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__dop-text{
        width: 690px;
        opacity: 0.6;
        margin-bottom: 16px;
    }

    &__next {
        padding: 15px 56px;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 16px;
        &.active{
            .two-block__consultation{
                display: inline-block;
            }
            .two-block__step-next{
                display: none;
            }
        }
    }

    &__step-back {
        padding: 14px 16px;
        border: 2px solid #FFFFFF;
        border-radius: 8px;
    }


    &__consultation {
        display: none;
        &.active{
            display: inline-block;
        }
    }
    .steps-swiper{
        width: 688px;
        @include adaptiveValue("width",688 ,576, 768, 576, 1 );
        margin-bottom: 26px;
        overflow: hidden;
        @media (max-width:576px) {
            width: 100%;
        }
        &__dots{
            margin-bottom: 12px;
            counter-reset: ol-numbers;
            display: flex;
            gap: 138px;
            overflow: hidden;
            margin-bottom: 56px;
            @include adaptiveValue("gap", 138 , 90, 1200, 991, 1 );
            @media (max-width:991px) {
                @include adaptiveValue("margin-bottom",56 ,25, 991, 768, 1 );
                @include adaptiveValue("gap",90 ,28, 991, 768, 1 );
            }
            @media (max-width:767px) {
                @include adaptiveValue("gap",28 ,15, 768, 320, 1 );
            }
            
        }
        &__dots-item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include adaptiveValue("height",48 ,33, 768, 320, 1 );
            @include adaptiveValue("width",48 ,33, 768, 320, 1 );
            flex: 0 0 auto;
            border-radius: 50%;
            gap: 138px;
            cursor: pointer;
            &:first-child{
                .steps__line{
                    display: none;
                }
            }
            &.active__dots{
                &::before{
                    background: #36B37E;
                    color: #fff;
                }
                .steps__line{
                    background-color: #fff;
                }
                &::after{
                    border: 5px solid #FFFFFF;
                }
            }
            &::before{
                content: counter(ol-numbers);
                counter-increment: ol-numbers;
                position: absolute;
                @include adaptiveValue("height",39 ,29, 768, 320, 1 );
                @include adaptiveValue("width",39 ,29, 768, 320, 1 );
                background: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;
                color: #1565D8;
            }
            &::after{
                content:"";
                position: absolute; 
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: 5px solid transparent;
                z-index: 5;
            }
        }
        &__wrapper{
            display: flex;
        }
        &__slide{
            flex: 0 0 auto;
        }
        &__title{
            font-family: 'Manrope';
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 16px;
            @include adaptiveValue("font-size", 36 , 32, 1200, 991, 1 );
                @include adaptiveValue("font-size", 32 , 18, 768, 320, 1 );
            @include adaptiveValue("margin-bottom", 16 , 4, 768, 320, 1 );
            @media (max-width:767px) {
                line-height: normal;
            }
        }
        &__text{
            line-height: 31px;
            opacity: 0.6;
            margin-bottom: 27px;
            @include adaptiveValue("margin-bottom",27 ,16, 991, 768, 1 );
                @include adaptiveValue("font-size", 16 , 14, 768, 320, 1 );
            @media (max-width:576px) {
                line-height: 24px;
            }
        }
        &__navigation{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            @media (max-width:440px) {
                gap: 5px;
                font-size: 15px;
            }
        }
        &__btn-prev{
            border: 2px solid #FFFFFF;
            border-radius: 8px;
            @media (max-width:440px) {
                padding: 8px 10px 8px 30px;
            }
        }
        &__link-full{
            display: inline-flex;
        }
    }
    .steps {
        margin-bottom: 12px;
        &__line{
            position: absolute;
            right: 50%;
            flex: 0 0 auto;
            height: 2px;
            width: 185px;
            background-color: #A1C1EF;
            z-index: 1;
        }
    }

}
// ТРЕТИЙ ЭКРАН
.three-block {
    padding: 100px 0;
    @include adaptiveValue("padding-top",100 , 32, 1200, 768, 1 );
    @include adaptiveValue("padding-bottom",100 , 32, 1200, 768, 1 );

    &__body {
        display: flex;
        @include adaptiveValue("gap",100 , 50, 1200, 991, 1 );
        @media (max-width:992px) {
            @include adaptiveValue("gap",50 , 24, 991, 768, 1 );
        }
        @media (max-width:767px) {
            flex-wrap: wrap;
        }
    }

    &__img {
        width: 504px;
        height: 668px;
        position: relative;
        flex: 0 0 auto;
        @include adaptiveValue("width",504 , 400, 1200, 991, 1 );
        @include adaptiveValue("height",668 , 530, 1200, 991, 1 );
        @media (max-width:767px) {
            width: 100%;
            height: 350px;
            border-radius: 16px;
            overflow: hidden;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            @media (max-width:767px) {
                object-fit: cover;
            }
        }
        .logo{
            position: absolute;
            @include adaptiveValue("top",34 , 20, 1200, 991, 1 );
            @include adaptiveValue("left",24 , 20, 1200, 991, 1 );
            img{
                object-fit: contain;
            }
        }
    }

    &__info {
    }

    &__title {
        @include adaptiveValue("margin-bottom",24 , 19, 991, 768, 1 );
        @media (max-width:576px) {
            text-align: center;
        }
    }

    &__text {
        color: #5A7184;
        @include adaptiveValue("padding-right",100 , 0, 1200, 991, 1 );
        @include adaptiveValue("margin-bottom",24 , 15, 991, 768, 1 );
    }

    &__advantagers {
        padding-right: 205px;
        margin-bottom: 16px;
        @media (max-width:992px) {
            padding-right: 0;
        }
        li{
            &:not(:last-child){
                margin-bottom: 16px;
            }
        }
    }

    &__action {
        button{
            &:first-child{
                @media (max-width:576px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
// ЧЕТВЕРТЫЙ ЭКРАН
.four-block {
    padding: 140px 0;
    margin-bottom: 140px;
    background: #F4F9FF;
    @include adaptiveValue("padding-top",140 , 32, 1200, 768, 1 );
    @include adaptiveValue("padding-bottom",140 , 32, 1200, 768, 1 );
    @include adaptiveValue("margin-bottom",140 , 32, 1200, 768, 1 );
    &__container {
    }

    &__body {
        display: flex;
        @include adaptiveValue("gap",245 ,96, 1200, 991, 1 );
        @media (max-width:992px) {
            @include adaptiveValue("gap",96 ,10, 991, 576, 1 );
        }
        @media (max-width:767px) {
            align-items: center; 
        }
        @media (max-width:576px) {
            flex-direction: column;
        }
    }

    &__info {
    }

    &__title {
        margin-bottom: 40px;
        @media (max-width:576px) {
            text-align: center;
        }
    }

    &__advantagers {

    }

    &__img {
        margin-right: 96px;
        position: relative;
        @include adaptiveValue("height",576 ,435, 991, 768, 1 );
        @include adaptiveValue("gap",96 ,10, 991, 576, 1 );
            @include adaptiveValue("margin-right",96 ,0, 991, 576, 1 );
        flex: 0 0 auto;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__logo {
        position: absolute;
        @include adaptiveValue("width",227 ,169, 992, 768, 1 );
        @include adaptiveValue("height",54 ,40, 992, 768, 1 );
        @include adaptiveValue("bottom",44 ,21, 992, 768, 1 );
        right: 29px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .advantagers {

        &__item {
            display: flex;
            align-items: flex-start;
            &:not(:last-child){
                margin-bottom: 24px;
            }
        }
    
        &__img {
            @include adaptiveValue("height",85 ,48, 991, 768, 1 );
            @include adaptiveValue("width",85 ,48, 991, 768, 1 );
            @include adaptiveValue("margin-right",42 ,18, 991, 768, 1 );
            flex: 0 0 auto;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    
        &__info {
        }
    
        &__title {
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: 700;
            @include adaptiveValue("font-size",24 ,20, 991, 768, 1 );
    
        }
    
        &__text {
            color: #183B56;
        }
    }
}
// ПЯТЫЙ ЭКРАН
.our-team {
    position: relative;
    @include adaptiveValue("margin-bottom",140 ,30, 992, 768, 1 );
    &__swiper {
        
    }
}
.swiper-team {
    position: relative;
    overflow: hidden;
    &__wrapper{
        display: flex;
    }

    &__slide {
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
        padding: 0 30px;
        @include adaptiveValue("gap",202 ,40, 1200, 991, 1 );
        @media (max-width:992px){
            @include adaptiveValue("gap",40 ,15, 991, 768, 1 );

        }
        @media (max-width:767px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }

    &__slide-info {
        flex: 0 1 auto;
        width: 405px;
        @media (max-width:767px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 16px;
        @media (max-width:768px) {
            @include adaptiveValue("font-size", 24 , 20, 768, 320 );
            text-align: start;
        }
    }

    &__text {
        margin-bottom: 16px;
        @include adaptiveValue("font-size",22 ,16, 1200, 320, 1 );
    }

    &__list {
        margin-bottom: 17px;
    }

    &__link-full{
        font-weight: 500;
        color: #1565D8;
    }
    
    &__slide-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 auto;
        width: 575px;
        @media (max-width:767px) {
            align-items: flex-start;
            width: 100%;
        }
    }

    &__slide-img-body{
        width: 443px;
        height: 300px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        @media (max-width:767px) {
            width: 100%;
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(225deg, rgba(53, 109, 143, 0.5) 0%, rgba(24, 59, 86, 0.75) 100%);
            opacity: 0.8;
            z-index: 1;
        }
    }
    
    &__link-full{
        &.mobile{
            display: none;
        }
        @media (max-width:767px) {
            display: none;
            &.mobile{
                display: inline-flex;
                align-items: center;
            }
        }
    }

    &__slide-img-text {
        background: #FFFFFF;
        box-shadow: 0px 12px 16px rgb(0 0 0 / 8%);
        border-radius: 4px;
        padding: 15px 0 15px 23px;
        font-size: 16px;
        font-style: italic;
        margin-top: -30px;
        position: relative;
        z-index: 5;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 6.6px;
            z-index: 6;
            background: #36B37E;
        }
    }
    .swiper-team-pagination{
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 40px;
        @media (max-width:767px) {
            display: none;
        }
        span{
            width: 20px;
            height: 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before,
            &::after{
                content: "";
                position: absolute;
                border-radius: 50%;
                transition: all .2s ease-in-out;
                cursor: pointer; 
            }
            &::before{
                height: 20px;
                width: 20px;
                background: #C4C4C4;
            }
            &::after{
                height: 100%;
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
            }
            &.swiper-pagination-bullet-active{
                &::before{
                    height: 16px;
                    width: 16px; 
                    background: #36B37E;
                }
                &::after{
                    border: 1px solid #1565D8;
                }
            }
        }
    }
}

.swiper-team-navigation{
    position: absolute;
    max-width: 1330px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width:767px) {
        display: none;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 15px;
        height: 50px;
        width: 50px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        &:first-child{
            transform: scale(-1,1);
        }
    }
}

// ШЕСТОЙ ЭКРАН
.six-block {
    @include adaptiveValue("margin-bottom",120 ,15, 992, 768, 1 );
    &__container {
    }

    &__body {
        display: flex;
        padding: 64px 106px 46px 48px;
        background: #1565D8;
        border-radius: 16px;
        justify-content: space-between;
        gap: 20px;
        @media (max-width:992px) {
            @include adaptiveValue("padding",40 ,15, 992, 768, 1 );
            margin: 0 -20px;
        }
        @media (max-width:767px) {
            flex-wrap: wrap;
        }
    }

    &__info-body {
        color: #fff;
        @media (max-width:767px) {
            width: 100%;
        }
    }

    &__title{
        max-width: 440px;
        width: 100%;
        @include adaptiveValue("font-size",32 ,24, 992, 768, 1 );
        @media (max-width:767px) {
            text-align: center;
            max-width: 290px;
        }
        @media (max-width:440px) {
            text-align: start;
        }
    }

    &__info-text {
        display: flex;
        @media (max-width:767px) {
            justify-content: center;
        }
        @media (max-width:440px) {
            justify-content: flex-start;
        }
    }

    &__sub-title {
        margin-bottom: 18px;
        max-width: 340px;
        width: 100%;
        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    &__list {
        max-width: 400px;
        width: 100%;
        margin-bottom: 24px;
        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    &__link-full {
    }

    &__quiz {
        @include adaptiveValue("padding",32 ,15, 992, 768, 1 );
        background: #fff;
        width: 385px;
        flex: 0 0 auto;
        border-radius: 8px;
        @media (max-width:767px) {
            width: 100%;
        }
    }
}
.advantages-list {

    &__item {
    }
}
.quiz {
    &__inner{
        font-size: 16px;
        display: none;
        &.active{
            display: block;
        }
    }

    &__item {
    }

    &__title {
        @include adaptiveValue("font-size",32 ,24, 992, 768, 1 );
        font-weight: 800;
        font-family: Manrope;
        margin-bottom: 16px;

    }

    &__qestion {
        display: flex;
        align-items: center;
        font-family: Manrope;
        margin-bottom: 16px;
        p{
            font-size: 21px;
            font-weight: 700;
            margin-right: 6px;
        }
    }

    &__qestion-thist {
        font-weight: 700;
        font-size: 21px;
    }

    &__qestion-full {
        color: #5A7184;
    }

    &__question-full{
        color: #5A7184;
        font-size: 16px;
    }

    &__radio-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 16px;
    }

    &__qestion-text{
        color: #5A7184;
        margin-bottom: 16px;
    }

    &__radio-body {
        display: flex;
        align-items: center;
    }

    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__label {
        position: relative;
    }

    .quiz__radio+label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
        &::before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 50%;
            border: 1px solid #36B37E;
            margin-right: 7px;
        }
        &::after{
            content:"";
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: transparent;
        }
      }
      .quiz__radio:checked+label{
        &::after {
            position: absolute;
            left: 5px;
            background: #36B37E;
        }
      }

    &__next {
        display: inline-block;
        background: #36B37E;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }
    .quiz-action{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .quiz-step-form{
            display: none;   
        }
        .quiz__prev{
            display: none;
        }
        &.proggress{
            .quiz__prev{
                display: inline-block;
            }
        }
        &.active{
            .quiz__next{
                display: none;
            }
            .quiz-step-form{
                display: block;
            }
        }
    }
}
.separator {
    margin: 0 5px;
    color: #5A7184;
}
// СЕДМОЙ ЭКРАН
.reviews {
    @include adaptiveValue("margin-bottom",110 ,15, 992, 768, 1 );
    &__container {
        max-width: 1020px;
    }

    &__body {
    }

    &__title {
    }

    &__content {
    }

    &__swiper {
    }

    .swiper-reviews {
        overflow: hidden;
        position: relative;
        &__wrapper {
            display: flex;
        }
    
        &__slide {
            flex: 0 0 auto;
            height: max-content;
        }
    
        &__slide-item {
            display: flex;
            align-items: center;
            gap: 171px;
            @include adaptiveValue("gap",171 ,16, 992, 768, 1 );
            @media (max-width:767px) {
                flex-wrap: wrap;
            }
        }
    
        &__img {
            height: 385px;
            max-width: 270px;
            flex: 0 0 auto;
            @media (max-width:767px) {
                height: 36px;
                width: 36px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    
        &__info {
        }
    
        &__title-city {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 4px;
        }
    
        &__number {
            color: #1565D8;
            font-weight: 600;
            text-decoration: underline;
            margin-bottom: 8px;
            font-size: 16px;
        }
    
        &__title {
            font-weight: 600;
            margin-bottom: 8px;
        }
    
        &__text {
            font-size: 16px;
            margin-bottom: 21px;
            line-height: 20px;
            @media (max-width:576px) {
                font-size: 14px;
            }
        }
    
        &__full {
            color: #1565D8;
            font-weight: 600;
            border-bottom: 1px dotted #1565D8;
            display: inline-block;
            width: max-content;
            @media (max-width:767px) {
                margin: 16px 0;
            }
        }
        .reviews-navigation{
            position: absolute;
            bottom: 0px;
            right: 0;
            display: flex;
            align-items: center;
        
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 56px;
                width: 56px;
                padding: 21px;
                svg{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                &:disabled{
                    opacity: 0.2;
                }
                &:first-child{
                    transform: scale(-1,1);
                }
            }
        }
    }
}

// ВОСЬМОЙ ЭКРАН
.eight {
    margin-bottom: 120px;
    @include adaptiveValue("margin-bottom",120 ,30, 992, 768, 1 );
    &__container {
    }

    &__body {
        padding: 64px 68px 64px 48px;
        background: #1565D8;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width:992px) {
            @include adaptiveValue("padding",40 ,15, 992, 768, 1 );
            margin: 0 -20px;
        }
        @media (max-width:767px) {
            flex-wrap: wrap;
        }
    }

    &__info {
        color: #fff;
    }

    &__title {
        @media (max-width:767px) {
            text-align: center;
        }
        @media (max-width:440px) {
            text-align: start;
        }
    }

    &__sub-title {
        margin-bottom: 24px;
        line-height: 32px;
        max-width: 535px;
        width: 100%;
        @media (max-width:767px) {
            max-width: 100%;
            text-align: center;
        }
        @media (max-width:440px) {
            text-align: start;
        }
    }

    &__list {
        max-width: 465px;
        width: 100%;
        line-height: 28px;
        margin-bottom: 30px;
        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    &__link-full {
    }

    &__spollers {
        width: 426px;
        @include adaptiveValue("width", 426 , 330, 992, 768, 1 );
        height: max-content;
        flex: 0 0 auto;
        background: #FFFFFF;
        border-radius: 8px;
        @include adaptiveValue("padding", 32, 15, 768, 320, 1);
        @media (max-width:767px) {
            width: 100%;
        }
    }
    .spollers {
        &__item {
            &:last-child{
                p{
                    max-width: 300px;
                }
            }
        }
    
        &__title {
            font-weight: 600;
            text-align: start;
            margin-bottom: 16px;
            position: relative;
            width: 100%;
            padding: 15px 10px 15px 0;
            
            @include adaptiveValue("font-size",20 ,18, 768, 320, 1 );
            
            p{
                max-width: 210px;
                width: 100%;
            }
        }
    
        &__body {
            font-size: 16px;
            color: #5A7184;
            margin-bottom: 16px;
            line-height: 24px;
        }
    }
}

// ДЕВЯТЫЙ ЭКРАН
.nine {
    background: #F4F9FF;
    &__container {
    }

    &__body {
        @include adaptiveValue("padding-top",80 ,15, 992, 768, 1 );
        @include adaptiveValue("padding-bottom",80 ,15, 992, 768, 1 );
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a{
            width: max-content;
        }
        
    }

    &__title {
        margin-bottom: 24px;
    }

    &__content {
        width: 100%;
    }

    &__link-full {
        border-radius: 8px; 
    }

    .spollers {
        padding: 32px;
        @include adaptiveValue("padding", 32, 15, 768, 320, 1);
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 32px;
        &__item {
            &:not(:first-child){
                .spollers__title{
                    border-top: 1px solid #E5EAF4;
                }
            }
        }
    
        &__title {
            font-size: 20px;
            padding: 27px 27px 27px 0;
            margin-bottom: 11px;

        }
    
        &__body {
            max-width: 830px;
            width: 100%;
            font-size: 16px;
            line-height: 25px;
            color: #5A7184;
            padding-bottom: 27px;
        }

    }
}
// ДЕСЯТЫЙ БЛОК
.footer-form {
    @include adaptiveValue("margin-bottom",120 ,50, 992, 768, 1 );
    &__container {
    }

    &__body {
    }

    &__content {
        display: flex;
        gap: 80px;
        padding: 64px 134px 64px 48px;
        background: #1565D8;
        border-radius: 16px;
        @include adaptiveValue("gap",85 ,50, 1200, 991, 1 );
        @media (max-width:992px) {
            @include adaptiveValue("gap",50 ,10, 991, 768, 1 );
            @include adaptiveValue("padding",40 ,15, 992, 768, 1 );
            margin: 0 -20px;
        }
        @media (max-width:767px) {
            flex-direction: column;
            
        }
    }

    &__info {
        color: #fff;
    }

    &__title {
        @media (max-width:767px) {
            span{
                width: 100%;
                text-align: center;
            }
        }
    }

    &__sub-title {
        line-height: 28px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px dashed #B3BAC5;
    }

    &__contact {
    }

    &__form {
        display: block;
    }

    .first-block__form{
        display: none;
    }

    .contact {
        &__title {
            line-height: 28px;
            @include adaptiveValue("margin-bottom",24 ,15, 991, 768, 1 );
        }
    
        &__tell {
            font-size: 36px;
            @include adaptiveValue("margin-bottom",24 ,15, 991, 768, 1 );
            display: inline-block;
            @media (max-width:767px) {
                font-size: 32px;
            }
        }
    
        &__info {
            @media (max-width:576px) {
                font-size: 14px;
            }
        }
    
        &__adress {
            margin-bottom: 8px;
        }
    
        &__mail {
            display: block;
            margin-bottom: 8px;
        }
    
        &__time {
        }
    }
}



//====================================================================================================
