.services-prices{
    // @include adaptiveValue("padding-top",118 ,62, 1024, 768, 1 );
    .breadcrumbs{
        @include adaptiveValue("margin-bottom",32 ,15, 1024, 768, 1 );
    }
    &__title{
        @media (max-width:768px) {
            margin-bottom: 22px;
        }
        @media (max-width:440px) {
            text-align: start;
        }
    }
}
.cost-services {
    background: #F4F9FF;
    padding: 80px 80px;
    margin-bottom: 100px;
    position: relative;
    @include adaptiveValue("padding-right",80 ,0, 992, 576,1 );
    @include adaptiveValue("padding-left",80 ,0, 992, 576,1 );
    @include adaptiveValue("padding-top",80 ,40, 992, 576,1 );
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -45%;
        transform: translateY(-50%);
        background-image: url(../img/decor/02.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1185px;
        height: 1315px;
        @media (max-width:992px) {
            display: none;
        }
    }
    &__container {
        position: relative;
    }

    &__body{
    }

    &__content {
        padding: 32px 32px 0 32px;
        border-radius: 8px;
        background: #FFFFFF;
        margin-bottom: 32px;
        @media (max-width:576px) {
            padding: 15px 15px 0 15px;
            margin: 0 -15px;
            margin-bottom: 16px;
        }
    }

    &__title {
        margin-bottom: 0px;
        width: fit-content;
        font-family: 'Manrope';
        font-weight: 600;
        line-height: 110%;

    }

    &__content-inner{
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width:5767px) {
            gap: 0;
        }
    }

    .services-prices-spollers {
        max-width: 995px;
        width: 100%;
		&__item {
            &:not(:first-child){
                .services-prices-spollers__title{
                    border-top: 1px solid #E5EAF4;
                }
            }
		}

		&__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 27px 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            padding-left: 40px;
            position: relative;
            border-radius: 0;
            @media (max-width:576px) {
                font-size: 14px;
                padding: 16px 0;
                padding-left: 40px;
            }
            &._spoller-active{
                &::before{
                    transform: translateY(-50%) rotate(-90deg);
                }
            }
            &::before{
                content:"";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(90deg);
                transition: transform .5s ease;
                width: 24px;
                height: 24px;
                padding: 3px;
                background-image: url('@img/icon/arrowright.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-origin: content-box;
            }
            span{
                text-align: start;
                &:first-child{
                    flex: 0 0 auto;
                    @include adaptiveValue("max-width", 614, 360, 1250, 992, 1);
                    // max-width: 614px;
                    width: 100%;
                    @media (max-width:768px) {
                        max-width: fit-content;
                        flex: 1;
                    }
                }
                &:last-child{
                    margin-left: 26px;
                    width: 100%;
                    @media (max-width:992px) {
                        text-align: end;
                    }
                    @media (max-width:768px) {
                        max-width: 100px;
                    }
                    @media (max-width:576px) {
                        max-width: 81px;
                        margin-left: 0px;
                    }
                }
            }
		}

		&__body {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            @media (max-width:992px) {
                flex-wrap:wrap;
            }
            ul{
                max-width: 535px;
                width: 100%;
                @media (max-width:992px) {
                    max-width: inherit;
                    padding: 0;
                }
                @media (max-width:576px) {
                    font-size: 14px;
                }
            }
		}

        &__popup{
            align-self: flex-start;
            flex: 0 0 auto;
            @media (max-width:992px) {
                margin-bottom: 16px;
            }
        }
    }
    .advantages-list{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 27px;
    }
}

.cases-won {
    margin: 110px 0;
    position: relative;
    
    &__container{
        @media (max-width:440px) {
            margin: 0 -15px;
        }
    }

    &__slider {
    }

    .swiper-pagination{
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 40px;

        span{
            width: 20px;
            height: 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before,
            &::after{
                content: "";
                position: absolute;
                border-radius: 50%;
                transition: all .2s ease-in-out;
                cursor: pointer; 
            }
            &::before{
                height: 20px;
                width: 20px;
                background: #C4C4C4;
            }
            &::after{
                height: 100%;
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
            }
            &.swiper-pagination-bullet-active{
                &::before{
                    height: 16px;
                    width: 16px; 
                    background: #36B37E;
                }
                &::after{
                    border: 1px solid #1565D8;
                }
            }
        }
    }
    .reviews-navigation{
        position: absolute;
        max-width: 1305px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width:1100px) {
            display: none;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 15px;
            height: 50px;
            width: 50px;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            &:first-child{
                transform: scale(-1, 1);
            }
        }
    }
}

.cases-won-swiper {
    overflow: hidden;
    &__wrapper {
        display: flex;
    }

    &__slide {
        flex: 0 0 auto;
        padding: 32px;
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 4%);
        border-radius: 6px;
        @media (max-width:768px) {
            padding: 20px;
        }
        @media (max-width:576px) {
            padding: 15px;
        }
    }

    &__item {
    }
}

.slide-content {

    &__header {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 19px;
        @media (max-width:1180px) {
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 16px;
        }
    }

    &__inner{
        @media (max-width:1100px) {
            width: 100%;
        }
    }

    &__number {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #1565D8;
    }

    &__author {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.6;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__img {
        width: 216px;
        height: 307px;
        flex: 0 0 auto;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 9px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.12));
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__inner{

    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        @media (max-width:576px) {
            margin-bottom: 12px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 16px;
        @media (max-width:576px) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 12px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        @media (max-width:576px) {
            font-size: 14px;
            line-height: 19px;
        }
        p{
            &:not(:last-child){
                margin-bottom: 16px;
                @media (max-width:576px) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    &__button-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & button:first-child{
            background: #1565D8;
            color: #fff;
        }
        & button:last-child{
            border: 1px solid #1565D8;
        }
    }

    &__button {
        padding: 8px 0;
        width: 100%;
        border-radius: 8px;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        font-family: 'Manrope';
    }
}




